*{
 margin: 0px;	
 padding: 0px;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}
/*fix*/
.flex-fix{
	display: flex;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
.margin-fix{
	padding-left: 25%;
	padding-right: 25%;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
header a{
	color: white;
}

/*mobile fix*/
.mobile-padding{
	padding-left: 1rem;
	padding-right: 1rem;
}
/*header*/
header{
	background-color: #0084fd;
	height: 80px;
	width: 100%;	
	color: white;
}
/*nav*/
.container-nav{
	justify-content: space-between;
	align-items: center;
	height: 100%;
	
}

.menu-list{
	display: none;
}

/*header smartphone*/

@media screen and (min-width: 992px) {
	.menu-list{
		
		display: flex;
		margin-right: 1rem;
		align-items: center;
		
	}
	.menu-list ul li{
		margin-right: 1rem;
		margin-left: 1rem;
		
	}
	.pulsanti-nav{
		display:none;
	}
}

/******************************************************/
section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}
/*header pc*/


/*main*/
.intro-col{
	/*test*/
	margin-top: 1rem;
	
	border: 1px solid black;
}
/*2section*/
.strategy-col{
	margin-top: 1rem;
	width: 100%;
	border: 1px solid black;
		
}
.color-section2{
	background-color: #9792e4;
}
.strategy{
	flex-wrap: wrap;
}
.img-txt{
	
	padding: 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: calc(100% - 2rem);
}
.img-txt-background{
	background-color: #9792e4;
	border-radius: 2rem;
	margin-top: 2rem;
}
.solo-txt p{
	text-align: center;
}
.img-txt .foto-testimonial{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;

	
}
.img-txt .foto-testimonial img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}


/*smart********************************************/

@media screen and (min-width: 768px) {

    .contenitore-col{
		display: flex;
	}
	.spazio-a{
		width: 60%;
	}
	.spazio-b{
		width: 40%;
	}
	.spazio-generico{
		width: calc(100% / 3 - 1rem);
	}

	.intro-col{
		margin-left: 1rem;
		
	}
	/*testimonial*/

	
	.foto-testimonial{
		width: 50%;
		height: auto;
	}
	.solo-txt{
		width: 50%;
	}
}

@media screen and (min-width: 992px) {
	.strategy{
		flex-wrap: nowrap;
	}
	.strategy-col{
		margin-left: 1rem;
	}
}

/*tablet e pc*******************************************/

























/*PULSANTI E GRAFICHE*****************************************/
.bottone-blu{
	display: inline-block;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #47adf1;
	background-color: #47adf1;
	padding: 5px;
	color: white;
}

.bottone-bianco{
	display: inline-block;
	border-style: solid;
	border-radius: 25px;
	border-width: 1px;
	border-color: #ffffff;
	background-color: #ffffff;
	padding: 5px;
	color: rgb(0, 0, 0);
}

.bottone-viola{
	display: inline-block;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #9792e4;;
	background-color: #9792e4;                                            ;
	padding: 5px;
	color: white;
}