*{
 margin: 0px;	
 padding: 0px;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
 font-size: 1rem;
}
/*fix*/
.flex-fix{
	display: flex;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
.margin-fix{
	padding-left: 25%;
	padding-right: 25%;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
header a{
	color: white;
}


/*mobile fix*/
.mobile-padding{
	padding-left: 1rem;
	padding-right: 1rem;
}
/*header*/
header{
	background-color: #0084fd;
	height: 80px;
	width: 100%;	
	color: white;
}
/*nav*/
.container-nav{
	justify-content: space-between;
	align-items: center;
	height: 100%;
	
}

.menu-list{
	display: none;
}

/*header smartphone*/

@media screen and (min-width: 992px) {
	.menu-list{
		
		display: flex;
		margin-right: 1rem;
		align-items: center;
		
	}
	.menu-list ul li{
		margin-right: 1rem;
		margin-left: 1rem;
		
	}
	.pulsanti-nav{
		display:none;
	}

}

/******************************************************/
section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}
/*header pc*/


/*main*/
.intro-col{
	/*test*/
	margin-top: 1rem;
	background-color: #b5ddff;
	border-radius: 10px;	

}
.spazio-a{
	display:flex ;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.testo-intro-col{
	margin: 1rem;
}
.intro-col h3{
	color: #47adf1;
	margin-bottom: 1rem;
}
.intro-col p{
	margin-bottom: 1rem;
	font-size: 0.8rem;
}
.img-intro-col{
	width: 60%;
	margin: 1rem;
}
.img-intro-col img{
	width: 100%;
}

.icon-col{
	color: #0084fd;
	text-align: center;
	margin-bottom: 1rem;
}

.icon-col i{
	font-size: 50px;
	
}
.testo-col{
	text-align: center;
}
.spazio-generico{
	padding: 1rem;	
}
.spazio-b{
	padding: 1rem;	
}

/*2section*/

.strategy-col{
	margin-top: 1rem;
	width: 100%;
	
		
}
.st-a{
	color: white;
	width: 100%;
	text-align: center;
	padding: 1rem;
	
}
.st-b{
	width: 100%;
	text-align: center;
	padding: 1rem;
}
.st-b img{
	width: 50%;
	margin-bottom: 1rem;

}
.st-a img{
 width: 50%;
 margin-bottom: 1rem;

}
.st-a, .st-b h3{
	margin-bottom: 1rem;
}

.color-section2{
	background-color: #9792e4;
}
.strategy{
	flex-wrap: wrap;
}
.img-txt{
	
	padding: 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: calc(100% - 2rem);
}
.img-txt-background{
	background-color: #9792e4;
	border-radius: 2rem;
	margin-top: 2rem;
}
.solo-txt p{
	text-align: center;
}
.img-txt .foto-testimonial{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;

	
}
.img-txt .foto-testimonial img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
/*section3*/
.text h2{
	color: #9792e4;
	margin-bottom: 1rem;
	font-size: large;
}
.text p{
	font-style: 10px;
}
.solo-txt{
	margin-top: 1rem;
	color: white;
}


/*smart********************************************/

@media screen and (min-width: 768px) {


    .contenitore-col{
		display: flex;
	}
	.spazio-a{
		width: 60%;
	}
	.spazio-b{
		width: 40%;
		text-align: center;
		padding: 1rem;
	}
	.spazio-generico{
		width: calc(100% / 3 - 1rem);
	}

	.intro-col{
		margin-left: 1rem;
		
	}
	/*testimonial*/

	
	.foto-testimonial{
		width: 50%;
		height: auto;
	}
	.solo-txt{
		width: 50%;
	}
}

@media screen and (min-width: 992px) {
	/*section1***/
	.spazio-a{
		flex-wrap: nowrap;
	}
	.spazio-b{
		padding: 2rem;
		text-align: center;
	}
	.img-intro-col{
		width: 90%;
	}

	/*******/
	.strategy{
		flex-wrap: nowrap;
	}
	.strategy-col{
		margin-left: 1rem;
	}
	.st-a, .st-b{
		width: 50%;
	}
}

/*tablet e pc*******************************************/

























/*PULSANTI E GRAFICHE*****************************************/
.bottone-blu{
	display: inline-block;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #47adf1;
	background-color: #47adf1;
	padding: 5px;
	color: white;
}

.bottone-bianco{
	display: inline-block;
	border-style: solid;
	border-radius: 25px;
	border-width: 1px;
	border-color: #ffffff;
	background-color: #ffffff;
	padding: 5px;
	color: rgb(0, 0, 0);
}

.bottone-viola{
	display: inline-block;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #9792e4;;
	background-color: #9792e4;                                            ;
	padding: 5px;
	color: white;
}